body{
background:#0f172a;
color:white;
margin:0;
font-family:Arial;
}

.page{
max-width:900px;
margin:auto;
padding:30px 20px;
}

h1{
font-size:32px;
margin-bottom:20px;
}

.card{
background:#1e293b;
padding:24px;
margin-bottom:20px;
border-radius:14px;
}

input{
width:100%;
padding:16px;
margin-bottom:12px;
border:none;
border-radius:8px;
background:#020617;
color:white;
font-size:16px;
}

button{
width:100%;
padding:16px;
background:#2563eb;
border:none;
border-radius:10px;
color:white;
font-size:18px;
margin-top:10px;
cursor:pointer;
}

select{
padding:16px;
border-radius:8px;
border:none;
background:#020617;
color:white;
font-size:16px;
}

.feeBox{
display:flex;
gap:10px;
margin-bottom:12px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:14px;
border-bottom:1px solid #334155;
text-align:left;
color:white;
}

@media(max-width:600px){

.page{
padding:20px 14px;
}

input{
font-size:18px;
padding:18px;
}

button{
font-size:20px;
padding:18px;
}

}